#botButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This makes the div take the full viewport height */
}
button {
    margin: 10px; /* Adds spacing between buttons */
}

h2 {
    text-align: center;
}